page-about {
  .scroll-content {
    background: url(https://us.123rf.com/450wm/mousemd/mousemd1602/mousemd160200054/52087128-pet-shop-concept-icons-outline-in-shape-of-a-heart-vector-illustration.jpg?ver=6);
    background-size: 33%;
  }
  .content {
    background-color: rgba(255, 255, 255, .7);
    height: 100%;
  }
}
