page-vet {
  padding: 4px;
  .vet-logo {
    width: 60px;
    height: 60px;
    border-radius: 50px;
  }
  .closebutton {
    position: absolute;
    top: 3px;
    right: 5px;
    cursor: pointer;
  }
}
