<ion-header>
  <ion-navbar color="favorite">
    <ion-title>{{veterinary.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center>
  <div>
    <img [src]="veterinary.img" style="margin:0 auto; height: 70px; width:70px; border-radius:50px" alt="">
  </div>
  <h2>{{veterinary.name}}</h2>
  <p text-wrap wrap> {{veterinary.description}} </p>
  <ion-list no-lines>
    <ion-item>
      <b>Dirección</b>
      <a (click)="openMap()"> {{ veterinary.address}}</a>

    </ion-item>

    <ion-item *ngIf="veterinary.rate">
      <b>Puntaje</b>
      <span> {{ veterinary.rate}}</span>
      <ion-icon name="star" style="color:gold"></ion-icon>
    </ion-item>
    <ion-item>
      <b>Telefono</b>
      <span> {{ veterinary.phone_number}}</span>

    </ion-item>
    <ion-item>
      <b>Horario</b>
      <span> {{ veterinary.schedule}}</span>
    </ion-item>

    <ion-item>
      <b>Servicios:</b>
      <p text-wrap>
        <span *ngFor="let serv of veterinary.services"> {{ serv }}, </span>
      </p>
    </ion-item>
  </ion-list>
</ion-content>
