// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.vet-panel {
  $vetWidth: 300px;
  $vetHeight: 150px;
  .popover-content {
    top: auto !important;
    bottom: 5px;
    min-height: $vetHeight;
    width: $vetWidth;
    background: color($colors, 'light');
    color: color($colors, 'dark');
  }
  .scroll-content {
    background: color($colors, 'light');
    overflow: hidden !important;
    color: color($colors, 'dark');
  }
}

.list-menu {
  height: 100%;
  color: white;
  background-color: color($colors, "favorite");
  button[ion-item] {
    color: white;
    font-weight: 900;
    background-color: color($colors, "favorite")
  }
}

@media (min-width: 600px) {
  .container {
    .scroll-content {
      text-align: center;
      padding-left: 15% !important;
      padding-right: 15% !important;
    }
  }
}
