<ion-header>
  <ion-navbar color="secondary">
    <ion-searchbar [(ngModel)]="query" (ionChange)="filter()" [debounce]="700"></ion-searchbar>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="container">
  <ion-card no-padding>
    <ion-list>
      <ion-item *ngFor="let serv of services">
        <ion-icon item-left color="primary" name="paw"></ion-icon>
        <ion-label>{{serv}}</ion-label>
        <ion-toggle (ionChange)="filter()" [(ngModel)]="'activeServices'[serv]"></ion-toggle>
      </ion-item>
      <!-- <ion-item>
        <ion-icon item-left color="primary" name="paw"></ion-icon>
        <ion-label>Veterinarias</ion-label>
        <ion-toggle (ionChange)="filter()" [(ngModel)]="veterinarias"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon item-left color="primary" name="pricetags"></ion-icon>
        <ion-label>Tiendas</ion-label>
        <ion-toggle (ionChange)="filter()" [(ngModel)]="tiendas"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon item-left color="primary" name="medical"></ion-icon>
        <ion-label>Atencion Medica</ion-label>
        <ion-toggle (ionChange)="filter()" [(ngModel)]="medicina"></ion-toggle>
      </ion-item> -->
      <hr>
    </ion-list>
  </ion-card>


  <ion-list [virtualScroll]="vets">
    <button (click)="select(vet)" ion-item *virtualItem="let vet">
      <ion-avatar item-left>
        <img [src]="vet.img" alt="">
      </ion-avatar>
      <h2 text-capitalize> {{vet.name}} </h2>
      <p item-right>
        {{ (vet.distance / 1000) | number:'0.1-1' }} Km
        <ion-icon xxxitem-left name="md-navigate" [ngStyle]="{'transform': 'rotateZ(' + vet.heading + 'deg)'}"></ion-icon>
      </p>

      <p text-wrap>
        <span *ngFor="let cat of vet.categories">{{ cat }}, </span>
      </p>
    </button>
  </ion-list>
</ion-content>
